.profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.img-circle {
  height: 16rem;
  width: 16rem;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem;
  filter: brightness(1.1);
}
