.banner {
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 0;
  height: auto;
  display: flex;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  font-weight: bold;
}

.banner p {
  text-align: justify;
}
