.banner {
  align-items: center;
  background-size: cover;
  background-position: center;
  padding: 0 0;
  height: auto;
  display: flex;
  justify-content: center;
}

.banner h1 {
  margin: 0;
  font-weight: bold;
}

.banner p {
  text-align: justify;
}

.list-down {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.list-down li {
  display: flex;
  justify-content: center;
}
