.card-white-profile {
  padding: 30px;
  border-radius: 4px;
  width: max(300px, 800px);
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2.5rem;
}

.card-project-image {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.project-content {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  padding: 0 15px;
  width: 100%;
  justify-content: center;
  font-size: 0.75rem;
  height: 300px;
}

.project-links {
  display: flex;
  justify-content: center;
  align-items: center;
}
